* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  text-align: center;
  background-color: black;
}
.clockcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  font-size: 2rem;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
}
.nacht {
  background: linear-gradient(rgb(18, 1, 22), rgb(56, 3, 45));
  color: aliceblue;
}
.morgen {
  background: linear-gradient(rgb(243, 146, 67), rgb(21, 128, 2));
  color: rgb(0, 0, 0);
}
.mittag {
  background: linear-gradient(rgb(21, 128, 2), rgb(41, 69, 192));
  color: rgb(0, 0, 0);
}
.abend {
  background: linear-gradient(rgb(41, 69, 192), rgb(18, 1, 22));
  color: aliceblue;
}
#MyClockDisplay {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.wrapper {
  background-color: rgb(7, 70, 7);
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
}
p,
span {
  font-size: 3rem;
}

button {
  font-size: 1.7rem;
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  color: white;
  border: none;
}
#button-start {
  background-color: red;
}
#button-stop {
  background-color: rgb(131, 65, 11);
}
#button-reset {
  background-color: black;
}
button:disabled {
  background-color: green;
  opacity: 30%;
}

button:focus {
  border: none;
  outline: none;
}
